.service-section {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.99) 0%, rgba(0, 0, 0, 0.98) 100%);
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    color: white;
}
.service-title {
    text-align: center;
    margin-bottom: 20px; 
}

.service-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: flex-start;
    margin-top: 40px;
}

.service-image {
    position: relative; 
    flex: 1;
    max-width: 50%;
    overflow: hidden; 
    border-radius: 10px;
}

.service-image img {
    width: 100%; 
    height: 70vh; 
    object-fit: cover; 
    transition: transform 0.3s ease-in-out; 
}

.service-image:hover img {
    transform: scale(1.1); 
}


.service-name-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.service-titles {
    flex: 1;
    margin-left: 50px;
}

.services-heading {
    color: white;
    font-size: 48px; 
}

.service-header {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 24px;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
}

.dropdown-icon {
    font-size: 18px;
}

.service-details {
    margin-top: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
}

.service-details.open {
    opacity: 1;
    max-height: 500px; 
}
@media (max-width: 575.98px){
    .services-heading{
        font-size: 38px;
    }
    .service-content{
        flex-direction: column-reverse;
        width: auto;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    .service-image{
        max-width: 80%;
        margin-top:50px;
    }
    .service-titles{
        max-width: 80%;
        margin-left: 0;
    }
    .service-header h2{
        font-size: 18px;
    }
    .dropdown-icon{
        font-size: 16px;
    }
    .service-details p{
        font-size: 14px;
        line-height: 20px;
    }
}