.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background: url('../../assets/hero2.jpg') no-repeat center center; /* Image path and positioning */
  background-size: 100% ; /* Full width and height without cropping */
  color: #000;
  text-align: center;
  
}
.hero-content .hero-heading{
  font-size: 60px;
}

  .hero-content {
    max-width: 800px;
    position: relative;
  }
  
  .hero-des{
    font-size: 48px;
    
    margin-bottom: 20px;
    position: relative;
   
  }
  
  .hero-content h1::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #D93C4D; 
    margin: 10px auto 0 auto; 
  }
  
  .hero-content h1 span {
    color: #000;
  }
  
  .hero-content h2 {
    font-size: 32px;
    color: #000;
    margin-bottom: 40px;
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-logo{
    height: 200px;
    margin-bottom:20px;
    
  }
  .hero-content p {
    margin-bottom: 40px;
    color: #000;
  }
  
  .hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  button:hover {
    background-color: #000;
    color: white;
  }
  
  button i {
    margin-left: 10px;
  }
  