@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: "Merriweather", serif;
}
.nav-logo{
  height: 80px;
}
.logo-name{
  color: #000;
}
.menu-container {
  position: fixed; /* Changed from absolute to fixed */
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0.9;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: rgba(240, 248, 255, 0);
  width: 100%;
  color: white;
  padding: 1rem;
  padding-right: 8rem;
  padding-left: 8rem;
  backdrop-filter: blur(5px); /* Optional: Adds a nice blur effect to the background */
}

.logo {
  margin-right: 2rem; 
  font-size: 25px;
  color: #000;
  display: flex;
  align-items: center
}

.menu-button {
  margin-right: 0; 
}



.menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: black;
  /* opacity: 0.95; */
  color: #fafafa;
  transition: height 0.3s ease;
  z-index: 2;
  overflow: hidden;
}

.menu.open {
  height: 100%;
}

.menu-list {
  padding-top: 8rem;
  margin: 0 auto;
  width: 400px;
  

}

.menu-item-container {
  opacity: 0;
  animation: 1s appear forwards;
 
}

.menu-item {
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 2rem;
  padding: 3rem 0;
  margin: 0 6%;
  cursor: pointer;
  color: #fafafa;
  transition: color 0.2s ease-in-out;
  animation: 0.5s slideIn forwards;
  
}

.menu-item.hover {
  color: gray;
}



.menu-button {
  height: 32px;
  width: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 4px;
  
}

.line {
  height: 2px;
  width: 20px;
  background: #000;
  transition: all 0.2s ease;
}

.line-top {
  margin-bottom: 5px;
  transform-origin: top left;
}

.line-top.rotate {
  transform: rotate(45deg);
}

.line-middle.hide {
  opacity: 0;
  transform: translateX(-16px);
}

.line-bottom {
  margin-top: 5px;
  transform-origin: top left;
}

.line-bottom.rotate-reverse {
  transform: translateX(-1px) rotate(-45deg);
}



@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}
