.gallery-page {

  color: #fff;
  max-width: 1800px;
  padding-top: 8rem;
  margin: 0 auto;
}


.scroll-instruction {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-weight: bold;
  color: #bbb;
}

.scroll-gallery-container {
  position: relative;
  height: 300vh; 
 
}

.sticky-wrapper {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.horizontal-scroll {
  display: flex;
  gap: 20px;
}

.scroll-card {
  width: 400px;
  height: 500px;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.nav-logo {
  height: 80px;
 
}
.logo-name1 {
  color: #ffffff;
}
.category-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.category-nav button {
  background: none;
  border: 2px solid white;
  padding: 10px 30px;
  margin: 0 20px;
  margin-bottom: 30px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
}

.category-nav button.active, 
.category-nav button:hover {
  background-color: #333;
  color: white;
}


.gallery-title {
  font-size: 48px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
  color: white;
}

@media (max-width: 575.98px) {

  .gallery-title{
    font-size: 24px;
  }
  .category-nav button{
    padding: 10px 7px;
    font-size: 0.8rem;
    margin: 0 5px;
  }
  .gallery-grid {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 0; /* Remove gaps between images for smooth transitions */
    -webkit-overflow-scrolling: touch;
  }

  .gallery-image {
    width: 100vw; /* Full viewport width for each image */
    height: auto;
    scroll-snap-align: start;
  }

  .gallery-grid::-webkit-scrollbar {
    display: none; /* Hide scrollbar on mobile */
  }
}